body {
		background-color: #e5e5e5;
		color: #555;
		font-size: 15px;
		font-family: Arial,Helvetica,sans-serif;
    	word-wrap: break-word;
	}

	h1, h2, h3, h4, h5, h6 {
	    margin-top: .75em;
	    margin-bottom: .75em;
	}

	h1 {
		font-size: 2.25em;
		margin:5vh 2vw 1vh 2vw;
		text-align: center;
	}

	h2 {}

	h3 {font-size: 1.875em;}

	p {
		margin:0 2vw 0 2vw;
	}

	a {
	    color: #06c;
    	font-weight: 400;
    	text-decoration: none;
	}

	hr.spacer {
		background: none;
		border: none;
		color: #ffffff;
		text-align: center;
		margin: 20px auto 10px auto;
	}
	hr.spacer:after {
		text-align: center;
		color: #555555;
		content:". . .";
		font-size: 20px;
		letter-spacing: 20px;
	}

	.column-layout {
    	display: flex;
    	flex-wrap: wrap;
	}

	.column-layout div {
		display: flex;
  		flex-direction: column;
  		flex-basis: 100%;
		flex-grow : 1;    /* this means that the div will grow in same proportion as the window-size   */
		flex-shrink : 1;  /* this means that the div will shrink in same proportion as the window-size */
		flex-basis : 0;   /* this means that the div does not have a starting value as such and will take up screen as per the screen size available for.e.g:- if 3 divs are in the wrapper then each div will take 33%. */
	    max-width: 500px;
	    padding-left: 15px;
	    padding-right: 15px;
	}

	#content {
		background-color: #ffffff;
	    border: 1px solid #e5e5e5;
		border-radius: 5px;
	    margin: 20px auto;
	    max-width: 740px;
	    padding: 5vh 3vw 30px 3vw;
	    -webkit-border-radius: 5px;
	    -moz-border-radius: 5px;
	}

	#footer {
		background-color: #555;
		color: #fff;
	}